html {
  text-align: center;
  color: whitesmoke;
}

.App {
  max-width: 700px;
  display: block;
  margin: auto;
}

form {
  background-color: cadetblue;
  margin: auto;
  padding: 50px;
}

h2 {
  margin-top: 0;
}

label, input {
  display: block;
  margin: auto;
}

label {
  margin: 20px 0 10px 0;
}

.text-input {
  width: 100%;
}

input {
  font-size: 18px;
  text-align: center;
}

button {
  height: 50px;
  width: 200px;
  margin-top: 20px;
  border-radius: 25px;
  border: none;
  color: whitesmoke;
  background-color: mediumseagreen;
  font-size: 18px;
}

button:hover {
  background-color: aquamarine;
  cursor: pointer;
}

.grudge-overview {
  color: #444444;
  border-bottom: solid 1px #444444;
  padding: 20px;
}

.grudge-container {
  color: #444444;
}

h4:hover {
  cursor: pointer;
}
